---

---

<div class="group fixed bottom-1 right-0 p-4 text-white text-center">
  <p class="invisible group-hover:visible transition-all">Go Home</p>
  <a href="/" class="text-6xl">
    &larr;
  </a>
</div>