---
import Layout from '../../layouts/Layout.astro';
import GoHome from '../../components/GoHome.astro';
import ProjectCard from '../../components/ProjectCard.astro';
---

<Layout title="DevDocky | EcoMagdalena Tree Felling Report">
	<main>
        <ProjectCard 
            project='/projects/ecomagdalenadf'
            title='EcoMagdalena Deforestation Fighters'
            body='Embark on a mission to protect our precious forests with an innovative web application dedicated to empowering individuals in the fight against tree felling in Colombia. This dynamic platform provides a user-friendly interface for reporting incidents with an interactive map that allows users to seamlessly search and pinpoin, collecting vital information, and raising awareness about the impact of deforestation.'
        />
    </main>
    <GoHome/>
</Layout>

<style>
    
</style>