---
import Layout from '../../layouts/Layout.astro';
import GoHome from '../../components/GoHome.astro';
import ProjectCard from '../../components/ProjectCard.astro';
---

<Layout title="DevDocky | Inventory WebApp">
	<main>
        <ProjectCard 
            project='/projects/inventory'
            title='Inventory WebApp'
            body='Simplify your business operations with our Inventory Management System, a powerful web application designed to streamline stock administration, supply chain management, and inventory tracking. This user-friendly solution enables effortless control over your products and warehouses, facilitating smooth movements and efficient organization.'
        />
    </main>
    <GoHome/>
</Layout>

<style>
    
</style>