---
import Layout from '../../layouts/Layout.astro';
import GoHome from '../../components/GoHome.astro';
import ProjectCard from '../../components/ProjectCard.astro';
---

<Layout title="DevDocky | POS Software">
	<main>
        <ProjectCard 
            project='/projects/pos'
            title='Everything you need to deploy your app'
            body='Quis tellus eget adipiscing convallis sit sit eget aliquet quis. Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.'
        />
    </main>
    <GoHome/>
</Layout>

<style>
    
</style>

