---
import Layout from '../../layouts/Layout.astro';
import GoHome from '../../components/GoHome.astro';
import ProjectCard from '../../components/ProjectCard.astro';
---

<Layout title="DevDocky | POS Software">
	<main>
        <ProjectCard 
            project='/projects/pos'
            title='DevDocky Point of Sale Software'
            body='Introducing a game-changer in the realm of business management—our versatile and intuitive Point of Sale (POS) software. Crafted with a focus on simplicity and functionality, this application seamlessly transforms tablets and PCs into powerful sales and inventory management tools..'
        />
    </main>
    <GoHome/>
</Layout>

<style>
    
</style>

