---
import Layout from '../../layouts/Layout.astro';
import GoHome from '../../components/GoHome.astro';
import ProjectCard from '../../components/ProjectCard.astro';
---

<Layout title="DevDocky | Restaurant Orders App">
	<main>
        <ProjectCard 
            project='/projects/restaurant'
            title='Restaurant Orders Platform'
            body='We introduce our Restaurant Orders Solution, an innovative platform that redefines the way we dine out. Our real-time connection solution utilizes cutting-edge socket technology to transform the restaurant experience, making ordering seamless and efficient.'
        />
    </main>
    <GoHome/>
</Layout>

<style>
    
</style>

